@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito,' sans-serif;
}

:root{
    --color-primary-1: #F6F6F6;
    --color-primary-2: #CCCCCC;
    --color-primary-3: #8B8B8B;
    --color-primary-4: #5B5B5B;
    --color-primary-5: #2F2F2F;
    --color-primary-6: #0f0f0f;
    --color-primary-7: #351c75;
    --color-primary-8: #320064;
    --color-primary-9: #230046;
    --color-primary-10: #9e72c3;
    ;

    --color-neutra-0: #fff;
    --color-neutra-1: #1d1d1d;
}
body {
    background-color: var(--color-primary-5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.single-section{
    /* min-height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: var(--color-primary-1); */
    font-family: 'Nunito';
}

.first-slice{
    width: 100%;
    padding: 20px 80px 20px 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    /* background-color: red; */
}

.page-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--color-primary-1);
    font-weight: 600;
    font-size: 24px;
    /* text-shadow: 0 5px 20px var(--color-primary-10); */
}

.page-title:hover{
    transition: ease-in 0.1s;
    color: var(--color-primary-10);
}

.nav-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav-btns:hover{
    color: var(--color-primary-2);
}
.go-back-btn{
    text-decoration: none;
    color: var(--color-primary-10);
}

.fa-solid{
    color: var(--color-primary-10);
}

.second-slice{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 320px; */
    justify-content: center;
    background-color: var(--color-primary-4);
    border-radius: 10px;
    padding: 20px 80px 20px 80px;
    box-shadow: 0 5px 20px var(--color-primary-6);
}

.form-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-title{
    color: var(--color-primary-1);
    font-weight: 500;
    padding-bottom: 15px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

input {
    padding: 5px;
    font-size: 1rem;
    border: 2px solid var(--color-primary-4);
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s;
    font-family: 'Nunito';
}

input:focus{
    border-color: var(--color-primary-10);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: var(--color-primary-8);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 5px 10px var(--color-primary-5);
}

button:hover {
    background-color: var(--color-primary-10);
    color: var(--color-primary-5);
    font-weight: 500;
}